<!DOCTYPE html>
<html>
    <head>
        <title>CoolCrochet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/styles.css">
        <script src="../static/script.js"></script>
    </head>
    <body>
        <label for="pattern_file">Select a file: </label>
        <input type="file" accept=".pdf,.txt,.pages,.doc,.docx" id="pattern_file" name="pattern_file">
        <p>OR</p>
        <label for="pattern_text">Type your pattern here:</label>
        <button onclick="show_formatting()">Show proper formatting</button>
        <br>
        <textarea placeholder="Your pattern here..." id="pattern_text" name="pattern_text"></textarea>
        <br>
        <button onclick="showPattern()">Show Pattern</button>
    </body>
</html>
